body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 15px;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar main widget1"
        "sidebar main widget2"
        "footer footer footer";
    grid-template-rows: 80px 1fr 1fr 60px;
    grid-template-columns: 200px 1fr 300px;
    gap: 15px;
    height: 600px;
}

header,
footer,
main,
.sidebar,
.widget1,
.widget2 {
    background-color:darkseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

header {
    grid-area: header;
    height: 80px;
}

main {
    grid-area: main;

}

.sidebar {
    grid-area: sidebar;
}

footer {
    grid-area: footer;
    height: 60px;
}

.widget1 {
    grid-area: widget1;
    height: 200px;
}

.widget2 {
    grid-area: widget2;
    height: 200px;
}
